/*
====================
Variables
====================
*/

:root {
  /* dark shades of primary colour */
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary-main colour */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary colour */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - use in headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* light grey - use for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /* Other */
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: rgb(0, 0, 0);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*
========================
Global Styles
========================
*/

*,
::after,
::before {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-image: url(https://images.unsplash.com/photo-1488390224393-39b815d3cb3b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  margin: 40px;
  font-family: var(--ff-secondary);
  background-color: var(--clr-black);
  color: var(--clr-grey-6);
  text-align: center;
}

.audio-container {
  text-align: left;
  color: var(--clr-white);
}

.audio-title {
  text-transform: uppercase;
}

h1 {
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
}

button {
  color: var(--clr-grey-1);
  font-size: 1.3rem;
  background-color: rgb(90, 214, 32);
  padding: 8px;
  margin: 15px;
  margin-left: 7px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

.title {
  margin: 20px;
}

.buttons-container {
  /* background-color: coral; */
  margin-left: 15px;
}